html, body{
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    scrollbar-width: thin; 
    margin-left: 0%; 
    overflow: auto;
  scrollbar-color: #DB7093 whitesmoke;
  }
  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: whitesmoke;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #DB7093;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid whitesmoke;  /* creates padding around scroll thumb */
  }
  #camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
        height: 100%;
        width: 100%;
        height: 75%;
        width: 30%;
        margin-top: 15px;
        border-radius: 15px;
        margin-left: 180px;
        object-fit: cover;
  }
  #camera--view, #camera--sensor, #camera--output{
      transform: scaleX(-1);
      filter: FlipH;
  }
  #camera--output{
  
  }
  #camera{
    margin-left: 300px;
    width: 100px;
    border-color: #DB7093;
  }
  #camera--trigger{
      width: 200px;
      background-color: #DB7093;
      color: white;
      font-size: 16px;
      border-radius: 30px;
      border: none;
      padding: 15px 20px;
      text-align: center;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      position: fixed;
      bottom: 30px;
      left: calc(50% - 100px);
  }
  .taken{
      height: 100px!important;
      width: 100px!important;
      transition: all 0.5s ease-in;
      border: solid 3px white;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      top: 20px;
      right: 20px;
      z-index: 2;
  }
  h1{
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0% auto;
    margin-top: 0%;
    color: #DB7093;
    margin-left: 384px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
.flor{
  justify-content: center;
  align-items: center;
    align-content: center;
    margin-top: 200px;
}
.jogo{
  margin-left: 560px;
  width: 60px;
  height: 60px;
}
.fotinha{
  margin-left: 340px;
}
#oii{
  margin-left: 670px;
  margin-top: 10px;
  border-color: #DB7093;
}
#galeria{
  margin-left: 680px;
  display: inline-block;
  margin-top: 30px;
}
img{
  width: 300px;
  margin-top: 10px;
  border-radius: 12px;
}
input{
  background-color: #DB7093; 
  flex: 1; 
  padding: 8px; 
  border: 1px solid #C71585; 
  border-radius: 7px; 
  width: 160px; 
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  margin: 7px;
}
button{
  width: 170px;
      background-color: #DB7093;
      color: white;
      font-size: 13px;
      border-radius: 30px;
      border: none;
      padding: 15px 20px;
      text-align: center;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      margin-top: 8px;
   
}
@media(min-width: 412px) and (max-width:864px){
    html, body{
        margin: 0;
        padding: 0;
        height: 100px;
        width: 100%;
        margin-left: 0%; 
        display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-rows: repeat(2, 100px); 
      }
input{
        background-color: #DB7093; 
        flex: 1; 
        padding: 8px; 
        border: 1px solid #C71585; 
        border-radius: 7px; 
        width: 140px; 
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
        margin: 7px;
    }
button{
        width: 140px;
            background-color: #DB7093;
            color: white;
            font-size: 15px;
            border-radius: 30px;
            border: none;
            padding: 15px 20px;
            text-align: center;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
            margin-top: 8px;
         
 }
 .jogo{
    margin-left: 30px;
    width: 29px;
    height: 10px;
  }
  .fotinha{
    margin-left: 8px;
  }
  #oii{
    margin-left: 30px;
    margin-top: 10px;
    border-color: #DB7093;
  }
  #galeria{
    margin-left: 30px;
    display: inline-block;
    margin-top: 30px;
  }
  img{
    height: 190px;
    width: 170px;
    margin-top: 10px;
    border-radius: 12px;
}
h1{
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0% auto;
    margin-top: 0%;
    color: #DB7093;
    margin-left: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
.flor{
  justify-content: center;
  align-items: center;
    align-content: center;
    margin-top: 20px;
 }
 #camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
        height: 80%;
        width: 80%;
        height: 60%;
        width: 90%;
        margin-top: 1px;
        border-radius: 15px;
        margin-left: 2px;
        object-fit: cover;
  }
  #camera--view, #camera--sensor, #camera--output{
      transform: scaleX(-1);
      filter: FlipH;
  }
  #camera--output{
  
  }
  #camera{
    margin-left: 300px;
    width: 80px;
    border-color: #DB7093;
  }
  #camera--trigger{
      width: 170px;
      background-color: #DB7093;
      color: white;
      font-size: 16px;
      border-radius: 30px;
      border: none;
      padding: 15px 20px;
      text-align: center;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      position: fixed;
      bottom: 30px;
      left: calc(50% - 100px);
  }
  .taken{
      height: 100px!important;
      width: 100px!important;
      transition: all 0.5s ease-in;
      border: solid 3px white;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      top: 20px;
      right: 20px;
      z-index: 2;
  }

}